<html>
    <head>
    <style>
        table, td, th {
            border: 1px solid orange;
        }
    </style>
    </head>
    <body>
    The Ice Cream Donut List: <br /><br />
    <table>
        <thead>
            <th>Ice Cream Donut Type</th>
            <th>Price</th>
        </thead>
        <% for (let iCount=0; iCount < aConcerts.length; iCount++) { %>
        <tr>
            <td><%= aConcerts[iCount].donutName %></td>
            <td><%= aConcerts[iCount].donutPrice %></td>
        </tr>
        <% } %>
    </table>
    </body>
</html>
